.loger{
  display:none;
}

.nloger{

}

#disconnect{
  padding-left: 10px;
  padding-right: 10px;
}

#disconnectButton{
}

#creerLivre{
  display:none;
}

.span3 {
text-decoration: none;
}

#creerLivre {
  margin-top: 30px;
}
