.loger{
  display:none;
}

.nloger{

}

#disconnect{
  padding-left: 10px;
  padding-right: 10px;
}

#disconnectButton{
}

#creerLivre{
  display:none;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

.span3 {
text-decoration: none; 
}
